
<div class="card flex justify-content-center p-5 m-5" >
    <p-treeSelect class="tree"   value="files"
    selectionMode="single" (onNodeSelect)="onNodeSelect($event)" [options]="nodes" display="chip"  
    [propagateSelectionUp]="true" [propagateSelectionDown]="false"
    [metaKeySelection]="false" selectionMode="checkbox" placeholder="Select Item" style="width: 400px;">
</p-treeSelect>
</div>











<!-- <div class="card flex justify-content-center p-5 m-5" >
<p-tree [value]="files" selectionMode="checkbox" class="w-full md:w-30rem" ></p-tree>
</div> -->